<div class="py-4 px-6 border rounded flex flex-col items-center mb-2">
  <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2" />
  <h2 class="mb-2 text-md text-center">{{ product.title }}</h2>
  <p>Price: <span class="font-bold">{{ product.price | currency }}</span></p>

  <button
    class="border py-2 px-4 rounded bg-yellow-400"
    (click)="showDetail()"
  >{{details ? "Hide details" : "Show details"}}</button>
  <div *ngIf="details">
    <p>{{ product.description }}</p>
    <p>Rate: <span>{{ product.rating.rate }}</span></p>
  </div>
</div>
